.config-details {
    padding: 0.5rem;
    display: flex;
    flex-grow: 1;
    transition: width 0.3s ease-in-out;
    max-height: 400px;
    overflow-y: auto;
}

.config-details-collapsed {
    width: fit-content; /* just enough for its content */
    white-space: nowrap; /* prevent content from wrapping */
}

.config-details-expanded {
    width: 25vw; /* 25% of the viewport width */
    white-space: normal; /* allow content to wrap */
    max-width: 100%;
    position: absolute; /* this positions the details box relative to .editor-config-area */
    right: 0; /* this aligns the right side of the details box with the right side of .editor-config-area */
}

details > summary {
    list-style-type: none;
}

.config-summary {
    position: absolute;
}

.config-icon {
    font-size: 22px;
    font-family: sans-serif;
}

.config-label {
    display: flex;
}

.config-label,
.form-check {
    display: block;
    margin-bottom: 0.5rem;
}

.spacing-text {
    margin-right: 10px;
}

.custom-select {
    width: 60px;
}

.option-label {
    display: inline-flex;
    align-items: center;
    white-space: pre-wrap;
    word-break: break-word;
    max-width: 100%;
}

input[type='checkbox'] {
    appearance: none;
    border: 1px solid;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
}

input[type='checkbox']:checked {
    background-color: #4caf50;
    border: 1px solid #4caf50;
}

input[type='checkbox']:checked::after {
    content: '';
    display: block;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(-100%, -25%);
    position: relative;
    top: 50%;
    left: 50%;
}
